[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
mypy = "*"
flake8 = "*"
djangorestframework = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.11"
